<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}
{{> search}}

    <main>
        <article>            

            {{#each characters}}
                <a href="/character/:{{id}}">
                <section class="card">

                    <h1>{{name}}</h1>
                    <img width="100%" src="{{image}}" alt="image of {{name}}">
                    <h2>{{species}}</h2>
                    
                </section>
                </a>
            {{/each}}

        </article>
    </main>
    <script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/js/serviceWorker.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>

<footer><p>Rick and morty app</p></footer>
<script src="/dist/bundle.js"></script>
</body>

</html>