<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}
{{> search}}

    <main>
        <article>            
            {{!-- {{log "El dato:" metaData.info}} --}}
            {{#each characters}}
                <a href="/character/:{{id}}">
                <section class="card">

                    <h1>{{name}}</h1>
                    <img class="darkui2-shimmer" width="300px" height="300px" src="{{image}}" alt="image of {{name}}">
                    {{!-- <h2>{{species}}</h2> --}}
                    
                </section>
                </a>
            {{/each}}
            
        </article>

        <p>{{metaData.info.pages}}</p>
    </main>
    <script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/serviceWorker.js')
      .then(reg => {
        console.log('Service worker registered! 😎', reg)
        return reg.update()
      })
      .catch(err => {
        console.log('😥 Service worker registration failed: ', err);
      });
  });
}
</script>

<footer><p>Rick and morty app</p></footer>
<script src="/dist/bundle.js"></script>
</body>

</html>